@model SIGRE_PYME.Models.Producto

@{
    ViewData["Title"] = "Editar producto";
}

<div class="container mt-4">
    <h2>Editar producto</h2>

    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="ProductoId" />

        <div class="mb-3">
            <label>SKU</label>
            <input asp-for="SKU" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Nombre</label>
            <input asp-for="Nombre" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Categoría</label>
            <select asp-for="Categoria" class="form-control">
                <option value="">Seleccione una categoría</option>
                <option>Computadoras</option>
                <option>Mouse</option>
                <option>Teclados</option>
                <option>Celulares</option>
                <option>Tablets</option>
                <option>Audífonos</option>
                <option>Consolas</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Precio</label>
            <input asp-for="Precio" class="form-control" step="0.01" />
        </div>

        <div class="mb-3">
            <label>Stock</label>
            <input asp-for="StockActual" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Importar nueva imagen</label>
            <input type="file" name="imagenArchivo" class="form-control" accept="image/*" />
        </div>

        @if (!string.IsNullOrEmpty(Model.ImagenUrl))
        {
            <div class="mb-3">
                <label>Imagen actual</label><br />
                <img src="~/img/productos/@Model.ImagenUrl" width="100" style="border-radius:8px;" />
            </div>
        }

        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </form>
</div>