@model IEnumerable<SIGRE_PYME.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h2>Clientes</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar cliente</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Email</td>
                <td>@item.Telefono</td>
            </tr>
        }
    </tbody>
</table>