@model SIGRE_PYME.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<div class="contenedor-login">
    <div class="caja-login login-activo">

        <h2>Bienvenido</h2>
        <p class="subtitulo-login">Inicia sesión para continuar</p>

        <form method="post">
            <div class="mb-3">
                <input name="NombreUsuario" type="text" class="form-control" placeholder="Nombre de usuario" required />
            </div>

            <div class="mb-3">
                <input name="Contrasena" type="password" class="form-control" placeholder="Contraseña" required />
            </div>

            <button class="btn btn-primary w-100">Ingresar</button>
        </form>

        @if (ViewBag.Error != null)
        {
            <p class="text-danger text-center mt-3">@ViewBag.Error</p>
        }

        <div class="enlace-login">
            <span>¿No tienes cuenta?</span>
            <a href="/Usuario/Registro">Crear cuenta</a>
        </div>

    </div>
</div>