@model SIGRE_PYME.Models.Usuario

@{
    ViewData["Title"] = "Registro";
}

<div class="contenedor-login">
    <div class="caja-login registro-activo">

        <h2>Crear cuenta</h2>
        <p class="subtitulo-login">Regístrate para usar el sistema</p>

        <form method="post">
            <div class="mb-3">
                <input name="NombreUsuario" type="text" class="form-control" placeholder="Nombre de usuario" required />
            </div>

            <div class="mb-3">
                <input name="Contrasena" type="password" class="form-control" placeholder="Contraseña" required />
            </div>

            <button class="btn btn-success w-100">Registrarse</button>
        </form>

        @if (ViewBag.Error != null)
        {
            <p class="text-danger text-center mt-3">@ViewBag.Error</p>
        }

        <div class="enlace-login">
            <span>¿Ya tienes cuenta?</span>
            <a href="/Usuario/Login">Iniciar sesión</a>
        </div>

    </div>
</div>